.container {
  display: flex;
  align-items: flex-start;
}

.button-row {
  height: 40px;
  margin-bottom: 10px;
}

.input-list, .output-list {
  list-style-type: none;
  padding: 0;
  font-family: monospace;
  font-size: 18px;
  border: 1px solid #ccc;
  width: 600px;
  height: 500px;
  overflow-y: auto;
}

.input-list li {
  padding: 5px;
  cursor: pointer;
  text-align: left;
}

.output-list {
  white-space: pre-wrap;
  overflow-y: auto;
  text-align: left;
  margin-left: 20px;
  border: 1px solid #ccc;
}

.output-content {
  padding: 5px;
}

.highlighted {
  background-color: #f5f9fd;
  color: #333;
}

.hidden-button {
  visibility: hidden;
}

ul {
  margin: 0;
}

.button-style {
  height: 40px
}



