.container {
  display: flex;
  align-items: flex-start;
}

.input-list, .output-list {
  width: 600px;
  height: 500px;
  overflow-y: auto;
  font: 14px monospace;
  border: 1px solid #ccc;
}

.input-list li, .output-list {
  text-align: left;
}

.input-list li {
  padding: 5px;
  cursor: pointer;
}

.input-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.output-list {
  white-space: pre-wrap;
}

.output-content {
  padding: 5px;
}

.highlighted {
  background-color: #f5f9fd;
  color: #333;
}

.child-highlighted {
  background-color: rgba(245, 249, 253, 0.5) !important; /* Use !important sparingly */
}

.hidden-button {
  visibility: hidden;
}

.container .button-row,
.container .button-style {
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
}

.container .button-row {
  margin-bottom: 10px;
}

.space-left {
  margin-left: 20px;
}
